.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.process-list {
  flex: 1;
  overflow-y: auto;
}

.process-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(400px, 1fr));
  margin: 0;
  gap: 1rem;
  padding: 1rem;
  list-style-type: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.pagination-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.margin-2 {
  margin: 2rem;
}