.process-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  margin: 2rem;
  padding: 0;
  list-style-type: none;
  max-height: 90vh;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-2 {
  margin: 2rem;
}

.margin-y-2 {
  margin: 2rem 0;
}