<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Threads:{{ process.threadCount }} - {{ process.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ process.memoryUsageMb }}Mb</p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-chip-set>
            @for(tag of process.tags; track tag) {
            <mat-chip>{{ tag }}</mat-chip>
            }
        </mat-chip-set>
    </mat-card-footer>
</mat-card>
